*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar
{
    height: 150px;
    width: 100%;
    background-color: blueviolet;
}
.maincontainer
{
    width: 99%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.left-container
{
    width: 18%;
    height: 400px;
    /* background-color: red; */
    margin: 10px;
}
.content
{
    width: 100%;
    height: 40px;
    background-color: blue;
    margin: 10px 0px;
}
.right-container
{
    width: 18%;
    height: 580px;
    margin: 10px;
    background-color: blue;
}
.footer
{
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: blue;
}